:root {
  --background-color: #111111;
  --white: #ffffff;
  --text-grey: #DFE1E3;
  --accent-yellow: #f013d6;
  --button-focus: #2a2a2a;
  --button-primary-hover: #c4c5c8;
  --button-secondary-background: #444444;
  --checkbox: #80FFB5;
  --scrollbar: #AAC0C8;

  --r41: calc((41 / var(--base) * 1rem));
  --r34: calc((34 / var(--base) * 1rem));
  --r28: calc((28 / var(--base) * 1rem));
  --r25: calc((25 / var(--base) * 1rem));
  --r24: calc((24 / var(--base) * 1rem));
  --r21: calc((21 / var(--base) * 1rem));
  --r20: calc((20 / var(--base) * 1rem));
  --r19: calc((19 / var(--base) * 1rem));
  --r18: calc((18 / var(--base) * 1rem));
  --r16: calc((16 / var(--base) * 1rem));
  --r14: calc((14 / var(--base) * 1rem));
  --base: 16;
}

@font-face {
  font-family: "zagma";
  src:
      url("https://app.10ft.itv.com/itvstatic/assets/fonts/zagma/F37Zagma-Regular.woff") format("woff2"),
      url("https://app.10ft.itv.com/itvstatic/assets/fonts/zagma/F37Zagma-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#cassie-widget {
  position: absolute;
  z-index: 9999;
  display: block;
  margin: 0;
  left: 0;
  width: 100vw;
}

.app_body[style*="margin: 0px; height: 100%; overflow: hidden;"] {
  margin: 0 auto !important;
}

/* PRE-BANNER */
#cassie_pre_banner_text {
  margin: auto 0;
  padding: 0;
  width: 100%;
  flex: 1;
}

#cassie_pre_banner_text a {
  color: var(--accent-yellow);
  text-decoration: none;
}

#cassie_pre_banner_text > h2 {
  font-size: var(--r24);
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: var(--white);
  font-family: "zagma", Arial, sans-serif;
  margin: 0 0 8px;
}

#cassie_pre_banner_text > p {
  font-size: var(--r16);
  color: var(--text-grey);
  margin: 0;
}

.cassie-pre-banner.cassie-top {
  min-width: min-content;
  border-radius: 0;
}

.cassie-cookie-module button {
  font-family: "zagma", Arial, sans-serif;
}

.cassie-cookie-module {
  box-sizing: border-box;
  font-family: "zagma", Arial, sans-serif;
  height: 100vh;
  overflow-y: auto;
  line-height: normal;
}

.cassie-cookie-module * {
  box-sizing: border-box;
}

.cassie-top .cassie-pre-banner--text {
  display: block;
}

.cassie-pre-banner.cassie-top:focus, .cassie-cookie-modal.cassie-cookie-modal--center:focus {
  outline: none;
}

.cassie-pre-banner .cassie-pre-banner--button--container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  flex: 0;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 24px 0 0 0;
}

.cassie-cookie-module > .cassie-pre-banner {
  border: none;
  justify-content: flex-start;
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

#cassie_accept_all_pre_banner,
.cassie-pre-banner--button.cassie-view-all {
  text-transform: uppercase;
  width: auto;
  min-height: 40px;
  margin: 0;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: var(--r14);
  letter-spacing: 1px;
  font-family: "zagma", Arial, sans-serif;
  transition: border 0.15s linear 0s;
}

#cassie_accept_all_pre_banner {
  background-color: var(--white);
  color: var(--background-color);
  font-size: var(--r14);
  font-family: "zagma", Arial, sans-serif;
  border: 2px solid var(--white);
  transition: background-color 0.15s linear 0s, border 0.15s linear 0s;
  margin-top: 16px;
}

.cassie-pre-banner--button.cassie-view-all {
  background-color: var(--button-secondary-background);
  border: 2px solid var(--button-secondary-background);
}

#cassie_accept_all_pre_banner:hover {
  background-color: var(--button-primary-hover);
  border: 2px solid var(--button-primary-hover);
}

.cassie-pre-banner--button.cassie-view-all:hover {
  border: 2px solid var(--white);
}

.cassie-view-all--button--icon {
  display: none;
}

.cassie-pre-banner.cassie-top {
  padding: 24px 20px;
  background-color: var(--background-color);
  margin: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: 0px 2px 16px rgba(3, 12, 18, 0.5);
}

@media screen and (min-width: 360px) {
  #cassie_accept_all_pre_banner {
    margin: 0 0 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .cassie-pre-banner.cassie-top {
    flex-direction: row;
    padding: 32px 48px;
  }

  .cassie-pre-banner .cassie-pre-banner--button--container {
    flex-direction: column;
    margin: 0;
  }

  #cassie_accept_all_pre_banner,
  .cassie-pre-banner--button.cassie-view-all {
    width: max-content;
    padding: 8px 24px;
    min-height: 45px;
    font-size: var(--r16);
    height: 56px;
  }

  #cassie_accept_all_pre_banner {
    margin: 16px 0 0 0;
  }

  #cassie_pre_banner_text > p {
    font-size: var(--r18);
    margin-right: 32px;
  }

  #cassie_pre_banner_text > h2 {
    font-size: var(--r28);
  }
}

@media screen and (min-width: 1024px) {
  .cassie-pre-banner .cassie-pre-banner--button--container {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
  }

  #cassie_accept_all_pre_banner,
  .cassie-pre-banner--button.cassie-view-all {
    min-height: 50px;
    border-radius: 4px;
    font-size: 1.125rem;
    line-height: 25px;
    padding: 12px 24px;
  }

  #cassie_accept_all_pre_banner {
    margin: 0 0 0 24px;
  }
  .cassie-pre-banner .cassie-view-all:hover {
    border-radius: 4px;
  }

  .cassie-pre-banner.cassie-top {
    padding: 32px 48px;
  }

  .cassie-pre-banner .cassie-pre-banner--button--container {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .cassie-pre-banner.cassie-top {
    padding: 32px 64px;
  }

  #cassie_accept_all_pre_banner,
  .cassie-pre-banner--button.cassie-view-all {
    font-size: 1.125rem;
    line-height: 1.39;
  }

  #cassie_pre_banner_text > p {
    font-size: var(--r19);
    margin-right: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .cassie-pre-banner.cassie-top {
    padding: 32px 96px;
  }

  #cassie_pre_banner_text > h2 {
    font-size: var(--r34);
  }

  #cassie_pre_banner_text > p {
    font-size: var(--r21);
  }
}

/* BANNER */
.cassie-cookie-module > .cassie-cookie-modal {
  border: 0;
  padding: 24px 20px;
}

#cassie_cookie_footer_content {
  display: none;
}

#cassie_expand_strictly_necessary .cassie_strictly_necessary_heading,
.cassie-expand-cookies--container .cassie-cookie-group--heading {
  font-family: "zagma", Arial, sans-serif;
}

.cassie-cookie-module > .cassie-overlay {
  z-index: 9999;
  background-color: rgba(16, 44, 61,.7);
}

.cassie-toggle-switch--checkbox.cassie-cookie-group--toggle-switch {
  display: contents;
}

.cassie-cookie-module > .cassie-cookie-modal--center {
  margin: auto;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.5);
  background-color: var(--background-color);
  color: var(--white);
  top: 50vh;
  bottom: auto;
  transform: translateY(-50%);
  overflow: hidden;
}

.cassie-cookie-modal--group .cassie-cookie-children--container {
  background-color: var(--background-color);
}

.cassie-cookie-modal--tab-group {
  max-height: 64vh;
  overflow-y: scroll;
}

.cassie-cookie-modal--main>.cassie-cookie-modal--cookies--container {
  position: relative;
  margin-bottom: 24px;
}

.cassie-cookie-modal--preferences-gradient {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: -20px;
  background: rgba(34, 37, 47, 0.8);
  background: linear-gradient(to bottom, rgba(34, 37, 47, 0), var(--background-color));
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 3;
}

.cassie-cookie-module a {
  color: var(--accent-yellow);
  text-decoration: none;
}

.cassie-cookie-module > .cassie-cookie-modal--right {
  width: 60%;
  border-left: 15px solid;
  border-color: white;
  border-right: none;
  left: unset;
}

/* Scrollbars */
.cassie-cookie-module .cassie-cookie-modal::-webkit-scrollbar,
.cassie-cookie-module .cassie-cookie-modal *::-webkit-scrollbar,
.cassie-cookie-module .cassie-cookie-modal--center::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.cassie-cookie-module .cassie-cookie-modal::-webkit-scrollbar-track,
.cassie-cookie-module .cassie-cookie-modal *::-webkit-scrollbar-track {
  background-color: transparent;
}

.cassie-cookie-module .cassie-cookie-modal::-webkit-scrollbar-thumb,
.cassie-cookie-module .cassie-cookie-modal *::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
  border-radius: 4px;
}

.cassie-cookie-module .cassie-cookie-modal::-webkit-scrollbar-thumb:hover,
.cassie-cookie-module .cassie-cookie-modal *::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar);
}
/* Scrollbars END */

.cassie-cookie-modal--header {
  margin-bottom: 24px;
}

.cassie-cookie-modal--header .cassie-header {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.24px;
  color: var(--white);
  margin: 0;
  font-size: var(--r24);
}

.cassie-cookie-modal--header .cassie-under-header {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.16px;
  color: var(--text-grey);
  margin: 8px 0 0;
  font-size: var(--r16);
}

.cassie-cookie-modal--header .cassie-cookie-modal--top-header,
.cassie-cookie-modal--header .cassie-cookie-modal--accept-all {
  display: none;
}

.cassie-cookie-modal--header .cassie-cookie-modal--header--content {
  border-top: 0;
  padding-top: 0;
  margin: 0;
}

.syrenis-cookie-widget h6,
.syrenis-cookie-widget h3,
.syrenis-cookie-widget h4 {
  color:var(--white);
}

.cassie-cookie-modal {
  vertical-align: center;
}

.cassie-cookie-modal .cassie-cookie-modal--main,
.cassie-cookie-modal
.cassie-cookie-modal--tab-group
.cassie-cookie-modal--group {
  border: 0;
}

.cassie-cookie-modal--group-head-container .cassie-cookie-group--description {
  order: 3;
  width: 100%;
  flex: 0 1 auto;
  margin: 0;
  font-size: var(--r14);
  line-height: 17px;
  color: var(--text-grey);
  font-weight: normal;
  grid-area: description;
  margin-bottom: 12px;
}

.cassie-cookie-modal--group-head-container .cassie-expand-cookies--container {
  text-decoration: none;
  pointer-events: none;
  order: 2;
  flex: 1 1 auto;
  line-height: 1.29;
  letter-spacing: 0.17px;
  padding: 0;
  width: 100%;
  grid-area: title;
}

.cassie-expand-cookies--container .cassie-cookie-group--heading {
  width: 100%;
  font-size: var(--r18);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: .5px;
  margin: 0 0 4px;
}

.cassie-cookie-modal--group .cassie-cookie-modal--group-head-container {
  padding: 0;
  display: grid;
  grid-template-areas:
    "title switch"
    "description none";
  column-gap: 0;
  margin-bottom: 12px;
  margin-right: 12px;
  position: relative;
  border-bottom: 1px solid rgba(170, 192, 200, .3) ;
}

/* static button with ON option for Necessary Cookies */
.cassie-cookie-modal-always-on-button {
  display: flex;
  order: 1;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px;
  border: 1px solid var(--checkbox);
}

/* ON text */
.cassie-cookie-modal-always-on-button span {
  color: transparent;
  font-weight: normal;
  font-size: 0.763rem;
  letter-spacing: 0.15px;
  z-index: 1;
  position: relative;
}

.cassie-cookie-modal-always-on-button span:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 1px;
  background-image: url('https://app.10ft.itv.com/itvstatic/assets/images/cookie-and-privacy/tick.svg');
  background-size: cover;
  background-position: center bottom;
  z-index: 2;
  width: 16px;
  height: 11px;
}

/* switch ON/OFF */
.cassie-cookie-modal--center .cassie-toggle-switch {
  display: flex;
  order: 1;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  margin: 0 0 12px;
  width: 24px;
  height: 24px;
}

.cassie-toggle-switch--status,
.cassie-cookie-modal--center .cassie-toggle-switch--status {
  color:transparent;
}

/* ON/OFF changing place on input check */
.cassie-toggle-switch--status.cassie-cookie-group--toggle-switch--status.toggleOFF {
  left: 0;
  color: transparent;
}

.cassie-cookie-group--toggle-switch {
  order: 1;
  margin: 0;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--checkbox);
}

.cassie-toggle-switch--slider {
  width: 100%;
}

.cassie-cookie-modal--center .cassie-toggle-switch--slider {
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.cassie-cookie-modal--center .cassie-toggle-switch--slider:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  background-image: url('https://app.10ft.itv.com/itvstatic/assets/images/cookie-and-privacy/tick.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 17px;
  height: 14px;
  background-color: transparent;
  border: none;
  opacity: 0;
  transition: opacity 0.15s linear 0s;
}

.cassie-cookie-modal--center .cassie-toggle-switch--slider--active:before {
  opacity: 1;
}
/* END switch */

/* Footer */
.cassie-cookie-modal .cassie-cookie-modal--footer {
  margin-top: 12px;
}

#cassie_cookie_footer_content {
  margin: 0;
}

.cassie-cookie-modal .cassie-cookie-modal--footer .cassie-cookie-modal--footer-extra {
  display: flex;
  text-align: center;
  width: 100%;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--save-preferences--container {
  width: auto;
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--save-preferences {
  color: #149ca3;
  background-color: var(--white);
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
button {
  opacity: 1;
  border-radius: 4px;
  color: var(--white);
  width: max-content;
  padding: 8px 16px;
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--footer-image--container {
  display: none;
  flex: 0;
}

.cassie-cookie-modal--group-head-container .cassie-expand-cookies--container span {
  display: none;
}

/* Save and exit button */
.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--save-preferences--container {
  text-align: end;
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--save-preferences--container
button {
  text-transform: uppercase;
  width: auto;
  min-height: 40px;
  margin: 0;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: var(--r14);
  letter-spacing: 1px;
  font-family: "zagma", Arial, sans-serif;
  transition: border 0.15s linear 0s;
  background-color: var(--button-secondary-background);
  color: var(--white);
  border: 2px solid var(--button-secondary-background);
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal--save-preferences--container
button:hover {
  border: 2px solid var(--white);
}

/* Accept all button */
.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal-accept-all-button
button {
  cursor: pointer;
  text-transform: uppercase;
  width: auto;
  min-height: 40px;
  margin: 0;
  margin-left: 12px;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: var(--r14);
  letter-spacing: 1px;
  font-family: "zagma", Arial, sans-serif;
  transition: border 0.15s linear 0s, background-color 0.15s linear 0s;
  background-color: var(--white);
  color: var(--background-color);
  border: 2px solid var(--white);
}

.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal-accept-all-button
button:hover {
  border: 2px solid var(--button-primary-hover);
  background-color: var(--button-primary-hover);
}
/* End footer */

@media screen and (max-width: 320px) {
  .cassie-pre-banner .cassie-pre-banner--button--container {
    flex-direction: column;
    align-items: flex-start;
  }

  #cassie_accept_all_pre_banner {
    margin: 16px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .cassie-cookie-module > .cassie-cookie-modal {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@media screen and (min-width: 390px) {
  .cassie-cookie-modal--preferences-gradient {
    height: 20px;
  }
}

@media screen and (min-width: 768px) {
  .cassie-cookie-module > .cassie-cookie-modal {
    padding: 40px;
  }

  .cassie-cookie-modal--header {
    margin-bottom: 32px;
  }

  .cassie-cookie-modal--tab-group {
    max-height: 260px;
  }

  .cassie-cookie-modal--header .cassie-header {
    font-size: var(--r34);
  }

  .cassie-cookie-modal .cassie-cookie-modal--footer {
    margin-top: 20px;
  }

  .cassie-cookie-module .cassie-cookie-group--heading {
    font-size: var(--r20);
  }

  .cassie-cookie-module .cassie-under-header {
    font-size: var(--r19);
    line-height: 1.29;
    letter-spacing: 0.17px;
  }

  .cassie-cookie-module .cassie-cookie-group--description {
    font-size: var(--r16);
    line-height: 1.29;
    letter-spacing: 0.17px;
  }

  .cassie-cookie-module > .cassie-cookie-modal--center {
    height: auto;
    max-width: 672px;
    border-radius: 6px;
    box-shadow: 0px 2px 16px rgba(3, 12, 18, 0.5);
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra {
    justify-content: flex-end;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal--save-preferences--container {
    flex: 0 1;
    text-align: end;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal-accept-all-button {
    flex: 0 1;
    text-align: end;
    margin-left: 16px;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal--save-preferences--container
  button,
  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal-accept-all-button
  button {
    font-size: 1rem;
    line-height: 1.56;
    text-align: center;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  button {
    padding: 10px 16px;
    width: max-content;
  }

  .cassie-cookie-modal-always-on-button,
  .cassie-cookie-modal--center .cassie-toggle-switch,
  .cassie-cookie-modal--center .cassie-toggle-switch--slider {
    width: 24px;
    height: 24px;
  }

  .cassie-cookie-modal--preferences-gradient {
    height: 60px;
    bottom: 0;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal--save-preferences--container
  button {
    min-width: 200px;
    height: 56px;
    font-size: var(--r16);
  }

  /* Accept all button */
.cassie-cookie-modal
.cassie-cookie-modal--footer
.cassie-cookie-modal--footer-extra
.cassie-cookie-modal-accept-all-button
button {
  min-width: 150px;
  height: 56px;
  font-size: var(--r16);
}
}

@media screen and (min-width: 1024px) {
  .cassie-cookie-module > .cassie-cookie-modal {
    max-width: 854px;
    max-height: 800px;
    padding: 40px;
  }
  
  .cassie-cookie-modal--tab-group {
    max-height: 420px;
  }

  .cassie-cookie-modal .cassie-cookie-modal--footer {
    margin-top: 28px;
  }

  .cassie-cookie-modal--header .cassie-header {
    line-height: 1.18;
    letter-spacing: 0.34px;
  }

  .cassie-cookie-modal--header .cassie-under-header {
    line-height: 1.27;
  }

  .cassie-cookie-modal--group-head-container .cassie-cookie-group--description {
    line-height: 1.27;
    letter-spacing: 0.18px;
  }

  .cassie-expand-cookies--container {
    line-height: 22px;
  }

  .cassie-expand-cookies--container .cassie-cookie-group--heading {
    font-size: var(--r21);
    line-height: 1.24;
    letter-spacing: 0.2px;
  }

  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal--save-preferences--container
  button,
  .cassie-cookie-modal
  .cassie-cookie-modal--footer
  .cassie-cookie-modal--footer-extra
  .cassie-cookie-modal-accept-all-button
  button {
    height: 58px;
  }

  .cassie-cookie-modal--preferences-gradient {
    bottom: -20px;
  }
}

@media screen and (min-width: 1920px) {
  .cassie-cookie-modal--header .cassie-header {
    font-size: var(--r41);
  }

  .cassie-cookie-modal--header .cassie-under-header {
    font-size: var(--r21);
  }

  .cassie-expand-cookies--container .cassie-cookie-group--heading {
    font-size: var(--r25);
  }

  .cassie-cookie-modal--group-head-container .cassie-cookie-group--description {
    font-size: var(--r18);
  }
}

/* Styles for low screen widths devices */
@media only screen and (max-device-width: 425px) {

  .cassie-cookie-module > .cassie-cookie-modal {
    padding: 15px 20px 25px
  }

  .cassie-cookie-modal .cassie-cookie-modal--footer {
    margin-top: 0;
  }

  .cassie-cookie-modal--header {
    margin-bottom: 12px;
  }

  .cassie-cookie-modal--header .cassie-under-header {
    margin: 4px 0 0;
  }

  .cassie-cookie-modal--group .cassie-cookie-modal--group-head-container {
    margin-bottom: 10px;
  }

  .cassie-cookie-modal .cassie-cookie-modal--footer .cassie-cookie-modal--footer-extra {
    margin-bottom: 35px;
  }
}


/* FOCUS OUTLINE START*/
.cassie-pre-banner *:focus,
.cassie-cookie-modal *:focus,
.cassie-cookie-modal--center .cassie-toggle-switch:focus-within,
.cassie-pre-banner--button--container .cassie-pre-banner--button:focus,
.cassie-cookie-modal--save-preferences--container
.cassie-cookie-modal--save-preferences:focus {
    outline: 2px solid var(--white);
}

.cassie-pre-banner *:focus:not(:focus-visible),
.cassie-cookie-modal *:focus:not(:focus-visible),
.cassie-cookie-modal--center
.cassie-toggle-switch:focus-within:not(:focus-visible),
.cassie-pre-banner--button--container
.cassie-pre-banner--button:focus:not(:focus-visible),
.cassie-cookie-modal--save-preferences--container
.cassie-cookie-modal--save-preferences:focus:not(:focus-visible) {
    outline: none;
}
/* Safari does not support focus-visible pseudoclass */
.js-focus-visible :focus:not(.focus-visible) {
  background-color: var(--button-focus);
  outline: 2px solid var(--white);
}

.cassie-pre-banner *:focus-visible,
.cassie-cookie-modal *:focus-visible,
.cassie-cookie-modal--center .cassie-toggle-switch:focus-visible,
.cassie-pre-banner--button--container .cassie-pre-banner--button:focus-visible,
.cassie-cookie-modal--save-preferences--container
.cassie-cookie-modal--save-preferences:focus-visible {
   background-color: var(--button-focus);
   outline: 2px solid var(--white);
}
/* FOCUS OUTLINE END */